<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
         
          </div>
          <div class="col-md">
              <h2>Conversor Fisica</h2>
              <div>
                <label>Unidad Base:
                  <input type="string" [(ngModel)]="datoSend.unidaddato" placeholder="Unidad Base"/>
                </label><br>
                <label>Unidad Destino:
                  <input type="string" [(ngModel)]="datoSend.unidadconversion" placeholder="Unidad Destino"/>
                </label><br>
                <label>Unidad a convertir:
                <input type="string" [(ngModel)]="datoSend.dato" placeholder="Cantidad"/>
              </label><br>
              
              </div>
              <button  class="btn btn-success" (click)="Convertir()">Convertir</button>
              
          </div>
          <div class="col-sm">
           
          </div>
        </div>

       
      </div>
  
  
</div>


<div class="container">
    <div class="row">
      <div class="col-sm">
     
      </div>
      <div class="col-md">
          <p>Resultado:</p>
          <p> {{datoReceived.Dato}}  {{datoReceived.Unidad_Dato}} equivales a  {{datoReceived.Dato_Convertido}} {{datoReceived.Unidad_DatoConvertido}}</p>
      </div>
      <div class="col-sm">
       
      </div>
    </div>
  </div>